.dashboardNavContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1100px;
  border-radius: 8px;
  border: "1px solid black";
  width: fit-content;
  max-height: 100%;
  flex-shrink: 0;

  gap: 2rem;
  padding: 0.4rem;

  background-color: green;
  transition: 2idth 0.3s ease;
}

.dashboardNavLink {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  gap: 0.4rem;
  padding: 0.4rem;
  
  border: 2px solid transparent;
  border-radius: 8px;
  
}

.dashboardNavLink:hover {
  cursor: pointer;
  border: 2px solid rgb(115, 17, 110);
  transition: 0.4s;
}

.linkText {
  display: inline-block;
  font-size: 0.9rem;
  color: black;
  
  max-width: 200px;
  padding-right: 0.4rem;
  
  text-overflow: ellipsis;

  transition:
    max-width 0.3s ease,
    padding 0.3s ease,
    opacity 0.3s ease;
    opacity: 1;
  }

  
  @media screen and (max-width: 950px) {
    .dashboardNavLink {
      padding: 0.2rem;
    }

    .linkText {
    max-width: 0;
    padding-right: 0;
    opacity: 0;
  }
}

.themeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.themeBtn:hover {
  transform: scale(1.1);
}

.logoutBtn {
  padding: 0.4rem;
  background-color: white;
  border-radius: 1rem;
}

.logoutBtn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}