.dashboardNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1rem;
}

.navLink {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 150px;

  color: white;
  padding: 0.4rem;
  gap: 0.5rem;

  text-decoration: none;

  cursor: pointer;

  &:hover {
    transition: all 0.2s ease-in-out;
    font-weight: bolder;
  }
}
