.ingredient-card {
  background: #fff;
  border: 1px solid #213547;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  padding: 0;
}

.ingredient-card:hover {
  border: 1px solid #ef8e4c !important;
}

.ingredient-card:focus {
  outline-color: #ef8e4c !important;
}

.ingredient-card:focus-visible {
  outline-color: #ef8e4c !important;
}

.ingredient-card-icon {
  display: flex;
  background-color: #920202;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100%;
}

.ingredient-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100%;
}

.ingredient-card-selected {
  outline: 4px solid #ef8e4c !important;
  border: 1px solid #ef8e4c !important;
}
