.dashboardHeader {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    width: fit-content;
    height: 100vh;

    position: relative;
    padding: 1rem;
    gap: 1rem;

    background-color: #920202;
    color: white;
}

.closeBtn {
    background-color: transparent;
    border: none;

    padding: 0;
    cursor: pointer;

    position: absolute;
    top: 12px;
    right: 12px;
}

.closeBtn:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.dashboardUserData {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 0.4rem;
}

.userData{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 0.4rem;
}

.userAvatar {
    height: 50px;

    border: 2px solid white;
    border-radius: 50%;
}

.userName {
    font-weight: bolder;
}

.spanStat {
    font-weight: bolder;
}

.userStats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    gap: 0.4rem;
}