.dashboardNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1rem;
}

.navLink {
    width: 150px;

    text-align: center;

    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 1rem;

    font-weight: bolder;
    text-decoration: none;

    cursor: pointer;

    &:hover {
        transition: all 0.2s ease-in-out;
        
        background-color: white;
        color: #920202;
    }
}