.dashboardMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100vh;

  padding: 1rem;

  flex-grow: 1;
}

.menuBtn {
  position: absolute;

  background-color: #920202;

  top: 10px;
  left: 10px;
  z-index: 1000;
}
